{% extends "index.html" %}

{%- block title -%}
{{ title_macros::title(page_title=section.title, main_title=config.title) }}
{%- endblock -%}
{%- block extra_head %}
<link rel="stylesheet" href="landing.css">
{% endblock extra_head -%}

{% block content %}
    <div class="landing">
        {{ post_macros::header(page=section) }}
        {{ post_macros::content(page=section, summary=false, show_only_description=false) }}
        {{ post_macros::earlier_later(page=section) }}
    </div>
{% endblock content %}
